<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="sqlite3-module">
            <directory>tests/php</directory>
        </testsuite>
        <testsuite name="framework-orm">
            <directory>vendor/silverstripe/framework/tests/php/ORM</directory>
        </testsuite>
        <testsuite name="framework">
            <directory>vendor/silverstripe/framework/tests/php</directory>
        </testsuite>
    </testsuites>
</phpunit>
