<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="framework">
            <directory>vendor/silverstripe/framework/tests/php</directory>
        </testsuite>
        <testsuite name="sqlite3">
            <directory>tests/php</directory>
        </testsuite>
    </testsuites>
</phpunit>
